{% comment %}
    Renders a product form

    Accepts:
    - section_id: {String} Identifier of the section (required)
    - product: {Object} Product Liquid object (required)
    - current_variant: {String} Current (required)
    - show_dynamic_checkout: {Boolean} Show the dynamic checkout button (optional)
    - show_quantity_selector: {Boolean} Show the quantity selector (optional)

    Usage:
    {% render 'product-form',
      section_id: section.id,
      product: product,
      current_variant: product.selected_or_first_available_variant,
      show_dynamic_checkout: section.settings.show_dynamic_checkout,
    %}
{% endcomment %}

{%- unless product.title == blank -%}
  {%- form 'product', product, class: 'form', novalidate: 'novalidate', data-product-form: '', data-product-id: product.id -%}
    <div class="product-form__input">
      <label class="form__label no-js" for="Product-variants">{{ 'products.product.product_variants' | t }}</label>
      <select name="id" id="Product-variants" class="product-form__select-native input-box no-js" data-product-master-select>
        {%- for variant in product.variants -%}
          <option
            {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled{% endunless %}
            value="{{ variant.id }}"
          >
            {{ variant.title }} {%- unless variant.available %} - {{ 'products.product.sold_out' | t }}{% endunless %}
          </option>
        {%- endfor -%}
      </select>
    </div>

    <div class="product-form__inputs">
      {%- unless product.has_only_default_variant -%}
        {%- for option in product.options_with_values -%}
          <div class="product-form__input js">
            <label class="form__label" for="Option-{{ section_id }}-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
            <div class="select">
              <select
                id="Option-{{ section_id }}-{{ forloop.index0 }}"
                class="select__select"
                name="options[{{ option.name | escape }}]"
                data-product-option
              >
                {%- for value in option.values -%}
                  <option
                    value="{{ value | escape }}"
                    {% if option.selected_value == value %}selected="selected"{% endif %}
                  >
                      {{ value }}
                  </option>
                {%- endfor -%}
              </select>
            </div>
          </div>
        {%- endfor -%}
      {%- endunless -%}

      {%- if show_quantity_selector -%}
        <div class="product-form__input" data-quantity-input-wrapper>
          <label class="form__label" for="Quantity-{{ section_id }}">
            {{ 'products.product.quantity.label' | t }}
          </label>

          <div class="quantity" data-form-quantity>
            <button type="button"
               class="quantity__button quantity__button--minus button button--square button--text js"
               aria-controls="Quantity-{{ section_id }}"
               aria-label="{{ 'products.product.quantity.decrease' | t }}"
               data-form-quantity-minus
            >
              −
            </button>
            <input class="quantity__input"
              type="number"
              name="quantity"
              id="Quantity-{{ section_id }}"
              min="1"
              value="1"
              aria-live="polite"
              data-form-quantity-input
            >
            <button type="button"
                    class="quantity__button quantity__button--plus button button--square button--text js"
                    aria-controls="Quantity-{{ section_id }}"
                    aria-label="{{ 'products.product.quantity.increase' | t }}"
                    data-form-quantity-plus
            >
              +
            </button>
          </div>
        </div>
      {%- endif -%}
    </div>

    <p role="alert" class="product-form__error form__message hidden" data-error-wrapper>
      <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
      {% render 'icon-error' %}
      <span data-error-message></span>
    </p>

    <div class="product-form__buttons">
      <button
        type="submit"
        name="add"
        class="product-form__submit button button--full-width{% if current_variant.available %}{% if show_dynamic_checkout and product.selling_plan_groups == empty %} button--outline{% endif %}{% endif %}"
        data-add-to-cart
        {% unless current_variant.available %}aria-disabled="true" tabindex="-1" disabled{% endunless %}>
          {%- unless current_variant.available -%}
            {{ 'products.product.sold_out' | t }}
          {%- else -%}
            {{ 'products.product.add_to_cart' | t }}
          {%- endunless -%}
      </button>

      {%- if show_dynamic_checkout -%}
        {{ form | payment_button }}
      {%- endif -%}
    </div>
  {%- endform -%}
  <script type="application/json" data-product-json>
    {
      "variants": {{ product.variants | json }},
      "options": {{ product.options_with_values | json }}
    }
  </script>
{%- else -%}
  <button class="product-form__submit button button--full-width" aria-disabled="true" tabindex="-1" disabled>
    {{ 'products.product.sold_out' | t }}
  </button>
{%- endunless -%}
