{% comment %}
    Renders a product card

    Accepts:
    - product_card_product: {Object} Product Liquid object (optional)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)
    - media_size: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_full_details: {Boolean} Show the link to full details (optional). Default to hide
    - center_align_text: {Boolean} Center all the text contained inside. Default is to left-align (optional)

    Usage:
    {% render 'product-card', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{%- liquid
  if product_card_product.title
    assign product_title = product_card_product.title
    assign product_desc = product_card_product.description
    assign product_vendor = product_card_product.vendor
    assign compare_at_price = product_card_product.compare_at_price
    assign price = product_card_product.price
    assign available = product_card_product.available
  else
    assign product_title = 'onboarding.product_title' | t
    assign product_desc = 'onboarding.product_description' | t
    assign product_vendor = 'products.product.vendor' | t
    assign compare_at_price = 1999
    assign price = 1999
    assign available = true
    assign onboarding = true
  endif
  if show_full_details
    assign price_class = "price--large"
  endif
  if center_align_text
    assign price_class = price_class | append: " price__center"
  endif
  assign adapt_height = false
  if media_size == 'adapt' or product_card_product.featured_media == nil
    assign adapt_height = true
  endif
-%}

<div class="card-wrapper">
  <a href="{{ product_card_product.url | default: '#' }}" class="full-width-link">
    <span class="visually-hidden">{{ product_title }}</span>
  </a>

  <div class="card{% unless product_card_product.featured_media %} card--text-only card--soft{% endunless %} card--product{% if adapt_height %} card--adapt{% endif %}" tabindex="-1">
    {%- if product_card_product.featured_media -%}
      <div class="media media--{{ media_size | default: 'square' }}"{% if adapt_height %} style="padding-bottom: {{ 1 | divided_by: product_card_product.featured_media.aspect_ratio | times: 100 }}%;"{% endif %}>
        <img srcset="{%- if product_card_product.featured_media.width >= 165 -%}{{ product_card_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
          {%- if product_card_product.featured_media.width >= 360 -%}{{ product_card_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
          {%- if product_card_product.featured_media.width >= 533 -%}{{ product_card_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
          {%- if product_card_product.featured_media.width >= 720 -%}{{ product_card_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
          {%- if product_card_product.featured_media.width >= 940 -%}{{ product_card_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
          {%- if product_card_product.featured_media.width >= 1066 -%}{{ product_card_product.featured_media | img_url: '1066x' }} 1066w{%- endif -%}"
          src="{{ product_card_product.featured_media | img_url: '533x' }}"
          sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
          alt="{{ product_card_product.featured_media.alt | escape }}">
      </div>
    {%- else -%}
      <h2 class="card__text{% if center_align_text %} center{% endif %}">{{ product_title }}</h2>
    {%- endif -%}

    {%- if compare_at_price > price -%}
      <span class="badge badge--red badge--bottom-{% if center_align_text %}center{% else %}left{% endif %}" aria-hidden="true">
        <span>{{ 'products.product.on_sale' | t }}</span>
      </span>
    {%- endif -%}

    {%- if available == false -%}
      <span class="badge badge--sold-out badge--bottom-{% if center_align_text %}center{% else %}left{% endif %}" aria-hidden="true">
        <span>{{ 'products.product.sold_out' | t }}</span>
      </span>
    {%- endif -%}
  </div>

  <div class="card-information">
    <div class="card-information__wrapper">
      {%- if show_vendor -%}
        <span class="visually-hidden">{{ 'general.accessibility.vendor' | t }}</span>
        <div class="caption{% if center_align_text %} center{% endif %}">{{ product_vendor }}</div>
      {%- endif -%}

      {%- if product_card_product.featured_media -%}
        <span class="card-information__text {% if show_full_details %}h3{% else %}h5{% endif %}{% if center_align_text %} center{% endif %}">{{ product_title }}</span>
      {%- endif -%}

      {% render 'price', product: product_card_product, price_class: price_class %}
    </div>

    {%- if product_card_product.url != blank and show_full_details -%}
      <a href="{{ product.url }}" class="link link-with-icon" aria-label="{{ 'products.product.view_full_details_title' | t: title: product.title | escape }}">
        {{ 'products.product.view_full_details' | t }}
        <span aria-hidden="true">{%- render 'icon-arrow' -%}</span>
      </a>
    {%- endif -%}
  </div>
</div>
