<div class="customer page-width spaced-section">
  <h1 class="customer__heading">{{ 'customer.account.title' | t }}</h1>
  <a href="{{ routes.account_logout_url }}" class="customer__link link">
    {% render 'icon-padlock' %}{{ 'customer.account.log_out' | t }}
  </a>

  <div class="customer__columns">
    <div>
      <h2 id="CustomerOrders" class="customer__subheading">{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 20 %}
        {%- if customer.orders.size != 0 -%}
          <table class="table" aria-labelledby="CustomerOrders">
            <thead class="table__head">
              <tr>
                <th class="h4" scope="col">{{ 'customer.orders.order_number' | t }}</th>
                <th class="h4" scope="col">{{ 'customer.orders.date' | t }}</th>
                <th class="h4" scope="col">{{ 'customer.orders.payment_status' | t }}</th>
                <th class="h4" scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th class="h4" scope="col">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody class="table__body">
              {%- for order in customer.orders -%}
                <tr class="table__row">
                  <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
                    <a href="{{ order.customer_url }}"
                      class="button button--outline"
                      aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                    >
                      {{ order.name }}
                    </a>
                  </th>
                  <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                  <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                  <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                  <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>

          {% render 'pagination', paginate: paginate %}
        {%- else -%}
          <p>{{ 'customer.orders.none' | t }}</p>
        {%- endif -%}
      {% endpaginate %}
    </div>
    <div>
      <h2 class="customer__address-heading">{{ 'customer.account.details' | t }}</h2>

      <div class="customer__address">
        {{ customer.default_address | format_address }}
      </div>

      <a href="{{ routes.account_addresses_url }}" class="customer__link link">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
    </div>
  </div>
</div>
