<div class="customer page-width spaced-section">
  <h1 class="customer__heading">{{ 'customer.account.title' | t }}</h1>
  <a href="{{ routes.account_url }}" class="customer__link link">{{ 'customer.account.return' | t }}</a>

  <div class="customer__columns">
    <div>
      <h2 class="customer__subheading">
        {{ 'customer.order.title' | t: name: order.name }}
      </h2>

      {%- assign order_date = order.created_at | time_tag: format: "date_at_time" -%}
      <p class="caption-with-letter-spacing">{{ 'customer.order.date_html' | t: date: order_date }}</p>

      {%- if order.cancelled -%}
        <div class="caption-large">
          {%- assign cancelled_at = order.cancelled_at | time_tag: format: "date_at_time" -%}
          <p>{{ 'customer.order.cancelled_html' | t: date: cancelled_at }}</p>
          <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}</p>
        </div>
      {%- endif -%}

      <table class="order-table table">
        <thead class="table__head">
          <tr>
            <th class="h4" scope="col">{{ 'customer.order.product' | t }}</th>
            <th class="h4" scope="col">{{ 'customer.order.sku' | t }}</th>
            <th class="order-table__head-element h4" scope="col">{{ 'customer.order.price' | t }}</th>
            <th class="order-table__head-element h4" scope="col">{{ 'customer.order.quantity' | t }}</th>
            <th class="order-table__head-element h4" scope="col">{{ 'customer.order.total' | t }}</th>
          </tr>
        </thead>
        <tbody class="table__body">
          {%- for line_item in order.line_items -%}
            <tr id="{{ line_item.key }}">
              <th class="order-table__row-element order-table__row-element--align-left" scope="row" data-label="{{ 'customer.order.product' | t }}">
                <div class="order-table__product-container">
                  <a href="{{ line_item.variant.url }}" class="order-table__product-heading link">{{ line_item.product.title }}</a>

                  {%- assign property_size = line_item.properties | size -%}
                  {%- unless line_item.product.has_only_default_variant and property_size == 0 and line_item.selling_plan_allocation == nil -%}
                    <dl>
                      {%- unless line_item.product.has_only_default_variant -%}
                        {%- for option in line_item.options_with_values -%}
                          <div class="product-option">
                            <dt>{{ option.name }}: </dt>
                            <dd>{{ option.value }}</dd>
                          </div> 
                        {%- endfor -%}
                      {%- endunless -%}

                      {%- unless line_item.selling_plan_allocation == nil -%}
                        <p class="product-option">
                          {{ line_item.selling_plan_allocation.selling_plan.name }}
                        </p>
                      {%- endunless -%} 

                      {%- unless property_size == 0 -%}
                        {%- for property in line_item.properties -%}
                          {%- assign property_first_char = property.first | slice: 0 -%}
                          {%- if property.last != blank and property_first_char != '_' -%}
                            <div class="product-option">
                              <dt>{{ property.first }}: </dt>
                              <dd>
                                {%- if property.last contains '/uploads/' -%}
                                  <a href="{{ property.last }}" target="_blank" rel="noopener noreferrer" aria-describedby="a11y-new-window">
                                    {{ property.last | split: '/' | last }}
                                  </a>
                                {%- else -%}
                                  {{ property.last }}
                                {%- endif -%}
                              </dd>
                            </div>
                          {%- endif -%}
                        {%- endfor -%}
                      {%- endunless -%}
                    </dl>
                  {%- endunless -%}

                  {%- if line_item.line_level_discount_allocations != blank -%}
                    <ul class="order-discount order-discount--list order-discount--title" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                        <li class="order-discount__item">
                          {% render 'icon-discount' %}{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}

                  {%- if line_item.fulfillment -%}
                    <div class="order-table__fulfillment-note">
                      {%- assign created_at = line_item.fulfillment.created_at | time_tag: format: 'date' -%}
                      {{ 'customer.order.fulfilled_at_html' | t: date: created_at }}
                      <div>
                        {%- if line_item.fulfillment.tracking_url -%}
                          <a href="{{ line_item.fulfillment.tracking_url }}" class="link">
                            {{ 'customer.order.track_shipment' | t }}
                          </a>
                        {%- endif -%}
                        <div>
                          {{ line_item.fulfillment.tracking_company }}
                          {%- if line_item.fulfillment.tracking_number -%} #{{ line_item.fulfillment.tracking_number }} {%- endif -%}
                        </div>
                      </div>
                    </div>
                  {%- endif -%}
                </div>
              </th>
              <td data-label="{{ 'customer.order.sku' | t }}">{{ line_item.sku }}</td>
              <td class="order-table__row-element price-small" data-label="{{ 'customer.order.price' | t }}">
                <dl>
                  {%- if line_item.original_price != line_item.final_price -%}
                    <dt>
                      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                    </dt>
                    <dd>
                      <s>{{ line_item.original_price | money }}</s>
                    </dd>
                    <dt>
                      <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                    </dt>
                    <dd>
                      <span class="order-discount">{{ line_item.final_price | money }}</span>
                    </dd>
                  {%- else -%}
                    <dt>
                      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                    </dt>
                    <dd>
                      {{ line_item.original_price | money }}
                    </dd>
                  {%- endif -%}

                  {%- if line_item.unit_price_measurement -%}
                    <dt>
                      <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
                    </dt>
                    <dd>
                      <span class="price-unit-price">
                        {%- capture unit_price_separator -%}
                          <span aria-hidden="true">/</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
                        {%- endcapture -%}
                        {%- capture unit_price_base_unit -%}
                          {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                            {{- line_item.unit_price_measurement.reference_value -}}
                          {%- endif -%}
                          {{ line_item.unit_price_measurement.reference_unit }}
                        {%- endcapture -%}

                        <span data-unit-price>{{ line_item.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}
                      </span>
                    </dd>
                  {%- endif -%}
                </dl>
              </td>
              <td class="order-table__row-element price-small" data-label="{{ 'customer.order.quantity' | t }}">{{ line_item.quantity }}</td>
              <td class="order-table__row-element price-small" data-label="{{ 'customer.order.total' | t }}">
                {%- if line_item.original_line_price != line_item.final_line_price -%}
                  <dl>
                    <dt>
                      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                    </dt>
                    <dd>
                      <s>{{ line_item.original_line_price | money }}</s>
                    </dd>
                    <dt>
                      <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                    </dt>
                    <dd>
                      <span class="order-discount">{{ line_item.final_line_price | money }}</span>
                    </dd>
                  </dl>
                {%- else -%}
                  {{ line_item.original_line_price | money }}
                {%- endif -%}
              </td>
            </tr>
          {%- endfor -%}
        </tbody>
        <tfoot class="order-table__footer table__footer">
          <tr>
            <th class="order-table__footer-row-heading" scope="row" colspan="4">{{ 'customer.order.subtotal' | t }}</th>
            <td class="order-table__row-element price-small" data-label="{{ 'customer.order.subtotal' | t }}">{{ order.line_items_subtotal_price | money }}</td>
          </tr>

          {%- if order.cart_level_discount_applications != blank -%}
            <tr>
              {%- for discount_application in order.cart_level_discount_applications -%}
                <th class="order-table__footer-row-heading" scope="row" colspan="4">
                  {{ 'customer.order.discount' | t }}
                  <span class="order-discount order-discount--title">
                    {% render 'icon-discount' %}{{- discount_application.title -}}
                  </span>
                </th>
                <td data-label="{{ 'customer.order.discount' | t }}">
                  <div class="order-discount-wrapper">
                    <span class="order-discount order-discount--title">
                      {% render 'icon-discount' %}{{- discount_application.title -}}
                    </span>
                    <span class="order-discount price-small">-{{ discount_application.total_allocated_amount | money }}</span>
                  </div>
                </td>
              {%- endfor -%}
            </tr>
          {%- endif -%}

          {%- for shipping_method in order.shipping_methods -%}
            <tr>
              <th class="order-table__footer-row-heading" scope="row" colspan="4">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</th>
              <td class="order-table__row-element price-small" data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
            </tr>
          {%- endfor -%}

          {%- for tax_line in order.tax_lines -%}
            <tr>
              <th class="order-table__footer-row-heading" scope="row" colspan="4">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</th>
              <td class="order-table__row-element price-small" data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
            </tr>
          {%- endfor -%}

          <tr>
            <th class="order-table__footer-row-heading" scope="row" colspan="4">{{ 'customer.order.total' | t }}</th>
            <td class="order-table__row-element" data-label="{{ 'customer.order.total' | t }}">{{ order.total_price | money_with_currency }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="customer__address-container">
      <div>
        <h3 class="customer__address-heading h2">{{ 'customer.order.billing_address' | t }}</h3>
        <p class="customer__order-status customer__order-status--billing h4">
          {{ 'customer.order.payment_status' | t }}: {{ order.financial_status_label }}
        </p>
        <div class="customer__address">
          {{ order.billing_address | format_address }}
        </div>
      </div>
      <div>
        <h3 class="customer__address-heading h2">{{ 'customer.order.shipping_address' | t }}</h3>
        <p class="customer__order-status h4">
          {{ 'customer.order.fulfillment_status' | t }}: {{ order.fulfillment_status_label }}
        </p>
        <div class="customer__address">
          {{ order.shipping_address | format_address }}
        </div>
      </div>
    </div>
  </div>
</div>
