<div class="customer page-width center spaced-section">
  <h1>{{ 'customer.register.title' | t }}</h1>
  {%- assign formId = 'RegisterForm' -%}
  {%- form 'create_customer', class: 'customer__form', novalidate: 'novalidate' -%}
    {%- if form.errors -%}
      {%- if form.errors.translated_fields | size == 1 and form.errors.first == 'form' -%}
        <p class="customer__confirmation-message form__message" tabindex="-1">
          {{ form.errors.messages['form'] }}
        </p>
      {%- else -%}
        <h2 class="form__message" tabindex="-1">
          {% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}
        </h2>
        <ul class="customer__errors-list form__errors-list" role="list">
          {%- for field in form.errors -%}
            <li class="form__error-message">
              <a href="#{{ formId }}-{{ field }}" class="link--text">
                {{ form.errors.translated_fields[field] | capitalize }}
                {{ form.errors.messages[field] }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    {%- endif -%}
    <div class="field" data-form-field>
      <label class="field__label" for="{{ formId }}-FirstName">{{ 'customer.register.first_name' | t }}</label>
      <input type="text" name="customer[first_name]" id="{{ formId }}-FirstName" class="field__input" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocomplete="given-name">
    </div>
    <div class="field" data-form-field>
      <label class="field__label" for="{{ formId }}-LastName">{{ 'customer.register.last_name' | t }}</label>
      <input type="text" name="customer[last_name]" id="{{ formId }}-LastName" class="field__input" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocomplete="family-name">
    </div>
    <div class="field" data-form-field>
      <label class="field__label" for="{{ formId }}-email">{{ 'customer.register.email' | t }}</label>
      <input
        type="email"
        name="customer[email]"
        id="{{ formId }}-email"
        class="field__input"
        {% if form.email %} value="{{ form.email }}"{% endif %}
        spellcheck="false"
        autocapitalize="off"
        autocomplete="email"
        aria-required="true"
        {% if form.errors contains 'email' %}
          aria-invalid="true"
          aria-describedby="{{ formId }}-email-error"
        {% endif %}
      >
    </div>
    {%- if form.errors contains 'email' -%}
      <small id="{{ formId }}-email-error">
        <span class="form__message">{% include 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
      </small>
    {%- endif -%}
    <div class="field" data-form-field>
      <label class="field__label" for="{{ formId }}-password">{{ 'customer.register.password' | t }}</label>
      <input
        type="password"
        name="customer[password]"
        id="{{ formId }}-password"
        class="field__input"
        aria-required="true"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="{{ formId }}-password-error"
        {% endif %}
      >
    </div>
    {%- if form.errors contains 'password' -%}
      <small id="{{ formId }}-password-error">
        <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.</span>
      </small>
    {%- endif -%}
    <button type="submit" class="customer__button button">
      {{ 'customer.register.submit' | t }}
    </button>
  {%- endform -%}
</div>
