<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_background }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {% if settings.favicon != blank %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}

    <title>{{ shop.name }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    <script>
      if (!window.navigator.userAgent.match(/(MSIE|Trident)/)) {
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      }
    </script>
    {{ content_for_header }}

    {% render 'css-variables' %}

    <link rel="stylesheet" href="{{ 'theme.min.css' | asset_url }}">
  </head>

   <body class="password" data-template-password>
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'general.accessibility.skip_to_content' | t }}
    </a>

    <div class="password-action-bar">
      <button class="password-link link"
        aria-controls="PasswordPopup"
        aria-haspopup="dialog"
        aria-expanded="false"
        data-popup-open="password-modal"
        data-password-button>
          {% render 'icon-padlock' %}
          {{ 'general.password_page.login_password_button' | t }}
      </button>
    </div>

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>

    <div
      id="PasswordPopup"
      class="password-modal-wrapper"
      role="dialog"
      aria-modal="true"
      aria-labelledby="{{ 'general.password_page.login_form_heading' | t }}"
      data-popup-stage="password-modal">
      <div class="stage__overlay"></div>
      <div class="password-modal" data-popup="password-modal" data-popup-focus="password-modal" tabindex="-1">
         <button class="password-modal__close link" aria-label="{{ 'general.accessibility.close_modal' | t }}" data-popup-close="password-modal">
            {% render 'icon-close' %}
          </button>
        <div class="password-modal__content">
          <h2 class="password-modal__content-heading">
            {{ 'general.password_page.login_form_heading' | t }}
          </h2>
          {% form 'storefront_password' %}
            {%- assign formId = 'PasswordLoginForm' -%}
            <div class="password-form">
              <div class="password-field field" data-form-field>
                <label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class="field__input"
                  data-password-input
                  autocomplete="off"
                  {% if form.errors %}
                    data-error
                    aria-invalid="true"
                    aria-describeby="{{ formId }}-password-error"
                  {%- endif -%}
                >
                {%- if form.errors -%}
                  <span class="password-status" id="{{ formId }}-password-error" role="status" data-field-status>
                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }}</span>
                    <span class="form__message">{% render 'icon-error' %} {{ 'general.password_page.login_form_error' | t }}</span>
                  </span>
                {%- endif -%}
              </div>
           
              <button type="submit" name="commit" class="password-button button button--outline">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            </div>
          {% endform %}
          <p class="password-modal__footer">{{ 'general.password_page.admin_link_html' | t }}</p>
        </div>
      </div>
    </div>

    <script>
      window.theme = {
        rootUrl: "{{ routes.root_url }}",
        strings: {
          external: {{ 'general.accessibility.link_messages.external' | t | json }},
          newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
          newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
        }
      };
    </script>

    <script src="{{ 'vendor.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
