<div class="page-width" data-slider-wrapper="medium">
  {%- if section.settings.title != blank -%}
    <h2 class="title">{{ section.settings.title | escape }}</h2>
  {%- endif -%}

  {%- assign collection_count_mod_4 = section.blocks.size | modulo: 4 -%}

  <ul
    class="grid grid--2-col slider slider--tablet
    {% unless section.blocks.size == 4 %} grid--3-col-tablet{% endunless %}{% if collection_count_mod_4 == 0 %} grid--4-col-desktop{% endif %}"
    id="Slider-{{ section.id }}"
    data-slide-count="{{ section.blocks.size }}"
    data-slider
    role="list"
  >
    {%- for block in section.blocks -%}
      {%- render 'collection-card' with collections[block.settings.collection] as collection, card_size: section.settings.collection_card_size, card_class: 'slider__slide', card_data: 'data-slide' -%}
    {%- endfor -%}
  </ul>

  <div class="slider__navigation" data-slider-navigation>
    <button
      class="slider__button slider__button--previous button"
      aria-controls="Slider-{{ section.id }}"
      aria-label="{{ 'general.slider.previous_slide' | t }}"
      data-slider-button
      data-previous-slide
    >
      {% render 'icon-arrow' %}
    </button>

    <div class="progress-bar" data-progress-bar>
      <div class="progress-bar__thumb" data-progress-bar-thumb></div>
    </div>

    <button
      class="slider__button button"
      aria-controls="Slider-{{ section.id }}"
      aria-label="{{ 'general.slider.next_slide' | t }}"
      data-slider-button
      data-next-slide
    >
      {% render 'icon-arrow' %}
    </button>
  </div>

  {%- if section.settings.show_view_all -%}
    <div class="center">
      <a href="{{ routes.collections_url }}" class="button">{{ 'sections.collection_list.view_all' | t }}</a>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": {
    "cs": "Seznam kolekcí",
    "da": "Kollektionsliste",
    "de": "Kategorieliste",
    "en": "Collection list",
    "es": "Lista de colecciones",
    "fi": "Kokoelmaluettelo",
    "fr": "Liste des collections",
    "it": "Elenco delle collezioni",
    "ja": "コレクションリスト",
    "ko": "컬렉션 목록",
    "nb": "Samlingsliste",
    "nl": "Collectielijst",
    "pl": "Lista kolekcji",
    "pt-BR": "Lista de coleções",
    "pt-PT": "Lista de coleções",
    "sv": "Produktserielista",
    "th": "รายการคอลเลกชัน",
    "tr": "Koleksiyon listesi",
    "vi": "Danh sách bộ sưu tập",
    "zh-CN": "产品系列列表",
    "zh-TW": "商品系列清單"
  },
  "class": "spaced-section",
  "max_blocks": 12,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Überschrift",
        "en": "Heading",
        "es": "Encabezado",
        "fi": "Otsikko",
        "fr": "Titre",
        "it": "Titolo",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "cs": "Seznam kolekcí",
        "da": "Kollektionsliste",
        "de": "Kategorieliste",
        "en": "Collection list",
        "es": "Lista de colecciones",
        "fi": "Kokoelmaluettelo",
        "fr": "Liste des collections",
        "it": "Elenco delle collezioni",
        "ja": "コレクションリスト",
        "ko": "컬렉션 목록",
        "nb": "Samlingsliste",
        "nl": "Collectielijst",
        "pl": "Lista kolekcji",
        "pt-BR": "Lista de coleções",
        "pt-PT": "Lista de coleções",
        "sv": "Produktserielista",
        "th": "รายการคอลเลกชัน",
        "tr": "Koleksiyon listesi",
        "vi": "Danh sách bộ sưu tập",
        "zh-CN": "产品系列列表",
        "zh-TW": "商品系列清單"
      }
    },
    {
      "type": "select",
      "id": "collection_card_size",
      "label": {
        "cs": "Velikost karty kolekcí",
        "da": "Størrelse af kollektionskort",
        "de": "Kategoriekartengröße",
        "en": "Collection card size",
        "es": "Tamaño de tarjeta de colecciones",
        "fi": "Kokoelman kortin koko",
        "fr": "Taille des cartes de collection",
        "it": "Dimensione carta collezioni",
        "ja": "コレクションカードのサイズ",
        "ko": "컬렉션 카드 사이즈",
        "nb": "Størrelse på samlingskort",
        "nl": "Kaartomvang collectie",
        "pl": "Rozmiar karty kolekcji",
        "pt-BR": "Tamanho do cartão da coleção",
        "pt-PT": "Tamanho do cartão de coleções",
        "sv": "Storlek för produktseriekort",
        "th": "ขนาดบัตรคอลเลกชัน",
        "tr": "Koleksiyon kart boyutu",
        "vi": "Cỡ thẻ bộ sưu tập",
        "zh-CN": "产品系列卡大小",
        "zh-TW": "商品系列卡片尺寸"
      },
      "default": "square",
      "options": [
        {
          "value": "adapt",
          "label": {
            "cs": "Přizpůsobení obrázku",
            "da": "Tilpas til billede",
            "de": "An Bild anpassen",
            "en": "Adapt to image",
            "es": "Adaptar a la imagen",
            "fi": "Sovita kuvaan",
            "fr": "S'adapter à l'image",
            "it": "Adatta all'immagine",
            "ja": "画像に対応",
            "ko": "이미지에 맞춤",
            "nb": "Tilpass til bilde",
            "nl": "Aanpassen aan afbeelding",
            "pl": "Dostosuj do obrazu",
            "pt-BR": "Adaptar à imagem",
            "pt-PT": "Adaptar à imagem",
            "sv": "Anpassa till bild",
            "th": "ปรับตามรูปภาพ",
            "tr": "Görsele uyarla",
            "vi": "Điều chỉnh theo hình ảnh",
            "zh-CN": "适应图片",
            "zh-TW": "配合圖片"
          }
        },
        {
          "value": "portrait",
          "label": {
            "cs": "Na výšku",
            "da": "Stående",
            "de": "Porträt",
            "en": "Portrait",
            "es": "Retrato",
            "fi": "Portrait",
            "fr": "Portrait",
            "it": "Ritratto",
            "ja": "長方形",
            "ko": "세로형",
            "nb": "Portrett",
            "nl": "Portret",
            "pl": "Portret",
            "pt-BR": "Retrato",
            "pt-PT": "Retrato",
            "sv": "Porträtt",
            "th": "แนวตั้ง",
            "tr": "Portre",
            "vi": "Chân dung",
            "zh-CN": "纵向",
            "zh-TW": "縱向"
          }
        },
        {
          "value": "square",
          "label": {
            "cs": "Čtverec",
            "da": "Firkant",
            "de": "Quadrat",
            "en": "Square",
            "es": "Square",
            "fi": "Square",
            "fr": "Carré",
            "it": "Quadrato",
            "ja": "正方形",
            "ko": "정사각형",
            "nb": "Firkant",
            "nl": "Square",
            "pl": "Kwadrat",
            "pt-BR": "Quadrado",
            "pt-PT": "Square",
            "sv": "Square",
            "th": "สี่เหลี่ยม",
            "tr": "Kare",
            "vi": "Vuông",
            "zh-CN": "方形",
            "zh-TW": "正方形"
          }
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": {
        "cs": "Zobrazit tlačítko Zobrazit vše",
        "da": "Vis knappen \"Se flere\"",
        "de": "Schaltfläche \"Alle anzeigen\" anzeigen",
        "en": "Show 'View all' button",
        "es": "Mostrar el botón \"Ver todo\"",
        "fi": "Näytä \"Näytä kaikki\" -painike",
        "fr": "Afficher le bouton « Tout afficher »",
        "it": "Mostra il pulsante \"Visualizza tutto\"",
        "ja": "「すべて表示」ボタンを表示する",
        "ko": "'모두 보기' 버튼 표시",
        "nb": "Vis «Se alle»-knapp",
        "nl": "Toon knop 'Alles weergeven'",
        "pl": "Pokaż przycisk „Wyświetl wszystkie”",
        "pt-BR": "Exibir botão \"Ver tudo\"",
        "pt-PT": "Mostrar botão 'Ver tudo'",
        "sv": "Visa \"Visa alla\"-knappen",
        "th": "แสดงปุ่ม \"ดูทั้งหมด\"",
        "tr": "\"Tümünü görüntüle\" düğmesini göster",
        "vi": "Hiển thị nút \"Xem tất cả\"",
        "zh-CN": "显示“查看全部”按钮",
        "zh-TW": "顯示「檢視全部」按鈕"
      },
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": {
        "cs": "Kolekce",
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pl": "Kolekcja",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "tr": "Koleksiyon",
        "vi": "Bộ sưu tập",
        "zh-CN": "产品系列",
        "zh-TW": "商品系列"
      },
      "settings": [
        {
          "label": {
            "cs": "Kolekce",
            "da": "Kollektion",
            "de": "Kategorie",
            "en": "Collection",
            "es": "Colección",
            "fi": "Kokoelma",
            "fr": "Collection",
            "it": "Collezione",
            "ja": "コレクション",
            "ko": "컬렉션",
            "nb": "Samling",
            "nl": "Collectie",
            "pl": "Kolekcja",
            "pt-BR": "Coleção",
            "pt-PT": "Coleção",
            "sv": "Produktserie",
            "th": "คอลเลกชัน",
            "tr": "Koleksiyon",
            "vi": "Bộ sưu tập",
            "zh-CN": "产品系列",
            "zh-TW": "商品系列"
          },
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Seznam kolekcí",
        "da": "Kollektionsliste",
        "de": "Kategorieliste",
        "en": "Collection list",
        "es": "Lista de colecciones",
        "fi": "Kokoelmaluettelo",
        "fr": "Liste des collections",
        "it": "Elenco delle collezioni",
        "ja": "コレクションリスト",
        "ko": "컬렉션 목록",
        "nb": "Samlingsliste",
        "nl": "Collectielijst",
        "pl": "Lista kolekcji",
        "pt-BR": "Lista de coleções",
        "pt-PT": "Lista de coleções",
        "sv": "Produktserielista",
        "th": "รายการคอลเลกชัน",
        "tr": "Koleksiyon listesi",
        "vi": "Danh sách bộ sưu tập",
        "zh-CN": "产品系列列表",
        "zh-TW": "商品系列清單"
      },
      "category": {
        "cs": "Kolekce",
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pl": "Kolekcja",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "tr": "Koleksiyon",
        "vi": "Bộ sưu tập",
        "zh-CN": "产品系列",
        "zh-TW": "商品系列"
      },
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ],
  "templates": [
    "article",
    "blog",
    "collection",
    "index",
    "page",
    "product"
  ]
}
{% endschema %}
