<div class="featured-collections page-width{% if collections[section.settings.collection].products.size == 1 %} page-width--narrow{% endif %}" data-slider-wrapper="medium">
  {%- if section.settings.title != blank -%}
    <h2 class="title">{{ section.settings.title | escape }}</h2>
  {%- endif -%}

  {%- liquid
    assign collection = collections[section.settings.collection]
    assign products_to_display = collection.products.size
    assign computed_grid_class = "grid--3-col-tablet"

    if collection.products.size > section.settings.products_to_show
      assign products_to_display = section.settings.products_to_show
    endif

    assign products_divisible_by_four = products_to_display | modulo: 4

    if products_divisible_by_four == 0 and products_to_display != 0
      assign computed_grid_class = "grid--4-col-tablet"
    endif

    if products_to_display == 7 or products_to_display >= 10
      assign computed_grid_class = "grid--4-col-tablet"
    endif
  %}
  <ul
    id="Slider-{{ section.id }}"
    class="grid grid--1-col grid--2-col slider slider--tablet {{ computed_grid_class }} page-width"
    role="list"
    data-slider
    data-slide-count="{{ section.settings.products_to_show }}"
  >
    {%- for product in collection.products limit: section.settings.products_to_show -%}
      <li class="grid__item slider__slide" data-slide>
        {%- if collection.products.size == 1 -%}
          {% render 'product-card',
            product_card_product: product,
            show_vendor: section.settings.show_vendor,
            media_size: section.settings.product_image_ratio,
            center_align_text: section.settings.center_align_text,
            show_full_details: true
          %}
        {%- else -%}
          {% render 'product-card',
            product_card_product: product,
            show_vendor: section.settings.show_vendor,
            media_size: section.settings.product_image_ratio,
            center_align_text: section.settings.center_align_text
          %}
        {%- endif -%}
      </li>
    {%- else -%}
      {%- for i in (1..6) -%}
        <li class="grid__item">
          {% render 'product-card', media_size: section.settings.product_image_ratio %}
        </li>
      {%- endfor -%}
    {%- endfor -%}
  </ul>

  <div class="slider__navigation" data-slider-navigation>
    <button
      class="slider__button slider__button--previous button"
      aria-controls="Slider-{{ section.id }}"
      aria-label="{{ 'general.slider.previous_slide' | t }}"
      data-slider-button
      data-previous-slide
    >
      {% render 'icon-arrow' %}
    </button>

    <div class="progress-bar" data-progress-bar>
      <div class="progress-bar__thumb" data-progress-bar-thumb></div>
    </div>

    <button
      class="slider__button button"
      aria-controls="Slider-{{ section.id }}"
      aria-label="{{ 'general.slider.next_slide' | t }}"
      data-slider-button
      data-next-slide
    >
      {% render 'icon-arrow' %}
    </button>
  </div>

  {%- if section.settings.show_view_all and collection.products.size > section.settings.products_to_show -%}

    <div class="center">
      <a href="{{ collection.url }}" class="button" aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: collection.title }}">
        {{ 'sections.featured_collection.view_all' | t }}
      </a>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": {
    "cs": "Propagovaná kolekce",
    "da": "Udvalgt kollektion",
    "de": "Vorgestellte Kategorie",
    "en": "Featured collection",
    "es": "Colección destacada",
    "fi": "Esittelyssä oleva kokoelma",
    "fr": "Collection en vedette",
    "it": "Collezione in evidenza",
    "ja": "特集コレクション",
    "ko": "추천 컬렉션",
    "nb": "Utvalgt samling",
    "nl": "Uitgelichte collectie",
    "pl": "Polecana kolekcja",
    "pt-BR": "Coleção em destaque",
    "pt-PT": "Coleção em destaque",
    "sv": "Utvald produktserie",
    "th": "คอลเลกชันแนะนำ",
    "tr": "Öne çıkan koleksiyon",
    "vi": "Bộ sưu tập nổi bật",
    "zh-CN": "特色产品系列",
    "zh-TW": "精選商品系列"
  },
  "class": "spaced-section",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsikko",
        "fr": "Titre",
        "it": "Titolo",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "cs": "Propagovaná kolekce",
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Featured collection",
        "es": "Colección destacada",
        "fi": "Esittelyssä oleva kokoelma",
        "fr": "Collection en vedette",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "ko": "추천 컬렉션",
        "nb": "Utvalgt samling",
        "nl": "Uitgelichte collectie",
        "pl": "Polecana kolekcja",
        "pt-BR": "Coleção em destaque",
        "pt-PT": "Coleção em destaque",
        "sv": "Utvald produktserie",
        "th": "คอลเลกชันแนะนำ",
        "tr": "Öne çıkan koleksiyon",
        "vi": "Bộ sưu tập nổi bật",
        "zh-CN": "特色产品系列",
        "zh-TW": "精選商品系列"
      }
    },
    {
      "id": "collection",
      "type": "collection",
      "label": {
        "cs": "Kolekce",
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pl": "Kolekcja",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "tr": "Koleksiyon",
        "vi": "Bộ sưu tập",
        "zh-CN": "产品系列",
        "zh-TW": "商品系列"
      }
    },
    {
      "id": "products_to_show",
      "type": "range",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 6,
      "label": {
        "cs": "Maximální počet produktů, které se mají zobrazit",
        "da": "Maksimale antal produkter, der kan vises",
        "de": "Maximal anzuzeigende Anzahl von Produkten",
        "en": "Max products to show",
        "es": "Máximo de productos para mostrar",
        "fi": "Näytettävien tuotteiden enimmäismäärä",
        "fr": "Nombre maximum de produits à afficher",
        "it": "Numero massimo di prodotti da mostrare",
        "ja": "表示する最大の商品",
        "ko": "표시할 최대 제품",
        "nb": "Maks. antall produkter som skal vises",
        "nl": "Maximaal aantal producten om weer te geven",
        "pl": "Maks. liczba produktów do wyświetlenia",
        "pt-BR": "Máximo de produtos a mostrar",
        "pt-PT": "Máx. de produtos a mostrar",
        "sv": "Maximalt antal produkter att visa",
        "th": "สินค้าที่จะแสดงครบตามจำนวนสูงสุดแล้ว",
        "tr": "Gösterilecek maksimum ürün",
        "vi": "Số lượng sản phẩm tối đa được hiển thị",
        "zh-CN": "要显示的产品最大数",
        "zh-TW": "可顯示的產品數量上限"
      }
    },
    {
      "id": "show_vendor",
      "type": "checkbox",
      "default": false,
      "label": {
        "cs": "Zobrazit dodavatele produktů",
        "da": "Vis produktforhandlere",
        "de": "Produktanbieter anzeigen",
        "en": "Show product vendors",
        "es": "Mostrar proveedores del producto",
        "fi": "Näytä tuotteen myyjät",
        "fr": "Afficher les distributeurs de produits",
        "it": "Mostra fornitori prodotto",
        "ja": "商品の販売元を表示する",
        "ko": "제품 공급업체 표시",
        "nb": "Vis produktleverandører",
        "nl": "Productleveranciers weergeven",
        "pl": "Pokaż dostawców produktu",
        "pt-BR": "Exibir fornecedores dos produtos",
        "pt-PT": "Mostrar fornecedores do produto",
        "sv": "Visa produktförsäljare",
        "th": "แสดงผู้ขายสินค้า",
        "tr": "Ürün satıcılarını göster",
        "vi": "Hiển thị nhà cung cấp sản phẩm",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      }
    },
    {
      "id": "show_view_all",
      "type": "checkbox",
      "default": true,
      "label": {
        "cs": "Zobrazit tlačítko Zobrazit vše v případě, že kolekce překračuje maximální počet produktů",
        "da": "Vis \"Se alle\", hvis kollektionen er større end det maksimale antal produkter",
        "de": "\"Alle anzeigen\" anzeigen, wenn die Kategorie größer ist als die Anzahl der maximalen Produkte",
        "en": "Show 'View all' if collection larger than maximum products",
        "es": "Mostrar \"Ver todo\" si la colección excede el límite máximo de productos",
        "fi": "Näytä Näytä kaikki -painike, jos kokoelma on tuotteiden enimmäismäärää suurempi",
        "fr": "Afficher « Tout afficher » si la collection dépasse le nombre maximum de produits",
        "it": "Mostra \"Visualizza tutto\" se la collezione è più grande del numero massimo di prodotti",
        "ja": "コレクションが最大商品よりも大きい場合は、「すべて表示」を表示します",
        "ko": "컬렉션에 있는 제품이 최대 제품 수보다 많은 경우 '모두 보기'를 표시합니다.",
        "nb": "Vis «Vis alle» hvis samlingen er større enn maksimalt antall produkter",
        "nl": "Laat 'Alles bekijken' zien als de collectie groter is dan maximum producten",
        "pl": "Pokaż 'Wyświetl wszystkie', jeśli kolekcja przekracza maksymalną liczbę produktów",
        "pt-BR": "Mostrar \"Visualizar tudo\" se a coleção for maior que a quantidade máxima de produtos",
        "pt-PT": "Mostrar \"Ver tudo\" se a coleção for superior ao máximo de produtos",
        "sv": "Visa \"Se alla\" om produktserien är större än maximalt antal produkter",
        "th": "แสดงข้อความ \"ดูทั้งหมด\" หากสินค้าในคอลเลกชันมีมากกว่าจำนวนสินค้าสูงสุด",
        "tr": "Koleksiyon maksimum ürün sayısından büyükse \"Tümünü görüntüle\" seçeneğini göster",
        "vi": "Hiển thị \"View all\" (Xem tất cả) nếu bộ sưu tập lớn hơn số sản phẩm tối đa",
        "zh-CN": "如果产品系列大于最大产品数，则显示“查看全部”",
        "zh-TW": "若商品系列大於最多產品數量，則顯示「查看全部」"
      }
    },
    {
      "type": "checkbox",
      "id": "center_align_text",
      "default": false,
      "label": {
        "cs": "Zarovnat text na střed",
        "da": "Centrer teksten",
        "de": "Text mittig ausrichten",
        "en": "Center align text",
        "es": "Alinear texto al centro",
        "fi": "Tasaa teksti keskelle",
        "fr": "Aligner le texte au centre",
        "it": "Centra il testo",
        "ja": "テキストを中央に揃える",
        "ko": "텍스트 가운데 맞춤",
        "nb": "Midtstill tekst",
        "nl": "Tekst centreren",
        "pl": "Wyśrodkowanie tekstu",
        "pt-BR": "Alinhar texto no centro",
        "pt-PT": "Alinhar texto ao centro",
        "sv": "Centrera text",
        "th": "จัดข้อความให้อยู่กึ่งกลาง",
        "tr": "Metni ortaya hizala",
        "vi": "Căn giữa văn bản",
        "zh-CN": "居中对齐文本",
        "zh-TW": "置中對齊文字"
      }
    },
    {
      "type": "select",
      "id": "product_image_ratio",
      "label": {
        "cs": "Poměr stran obrázku produktu",
        "da": "Forhold for produktbilleder",
        "de": "Produktbildverhältnis",
        "en": "Product image ratio",
        "es": "Relación de aspecto de la imagen del producto",
        "fi": "Tuotteen kuvasuhde",
        "fr": "Rapport d'aspect de l'image du produit",
        "it": "Proporzioni dell'immagine di prodotto",
        "ja": "商品の画像比",
        "ko": "제품 이미지 비율",
        "nb": "Størrelsesforhold for produktbilde",
        "nl": "Afbeeldingsverhouding product",
        "pl": "Proporcje obrazu produktu",
        "pt-BR": "Proporção da imagem do produto",
        "pt-PT": "Proporção da imagem de produto",
        "sv": "Produktens bildförhållande",
        "th": "อัตราส่วนรูปภาพสินค้า",
        "tr": "Ürün görseli oranı",
        "vi": "Tỷ lệ hình ảnh sản phẩm",
        "zh-CN": "产品图片比",
        "zh-TW": "產品圖片比例"
      },
      "default": "square",
      "options": [
        {
          "value": "adapt",
          "label": {
            "cs": "Přizpůsobení obrázku",
            "da": "Tilpas til billede",
            "de": "An Bild anpassen",
            "en": "Adapt to image",
            "es": "Adaptar a la imagen",
            "fi": "Sovita kuvaan",
            "fr": "Adapter à l'image",
            "it": "Adatta all'immagine",
            "ja": "画像に合わせる",
            "ko": "이미지에 맞춤",
            "nb": "Tilpass til bilde",
            "nl": "Aanpassen aan afbeelding",
            "pl": "Dostosuj do obrazu",
            "pt-BR": "Adaptar à imagem",
            "pt-PT": "Adaptar à imagem",
            "sv": "Anpassa till bild",
            "th": "ปรับตามรูปภาพ",
            "tr": "Görsele uyarla",
            "vi": "Điều chỉnh theo hình ảnh",
            "zh-CN": "适应图片",
            "zh-TW": "配合圖片"
          }
        },
        {
          "value": "portrait",
          "label": {
            "cs": "Na výšku",
            "da": "Stående",
            "de": "Porträt",
            "en": "Portrait",
            "es": "Retrato",
            "fi": "Portrait",
            "fr": "Portrait",
            "it": "Ritratto",
            "ja": "長方形",
            "ko": "세로형",
            "nb": "Portrett",
            "nl": "Portret",
            "pl": "Portret",
            "pt-BR": "Retrato",
            "pt-PT": "Retrato",
            "sv": "Porträtt",
            "th": "แนวตั้ง",
            "tr": "Portre",
            "vi": "Chân dung",
            "zh-CN": "纵向",
            "zh-TW": "縱向"
          }
        },
        {
          "value": "square",
          "label": {
            "cs": "Čtverec",
            "da": "Firkant",
            "de": "Quadrat",
            "en": "Square",
            "es": "Cuadrado",
            "fi": "Square",
            "fr": "Carré",
            "it": "Quadrato",
            "ja": "正方形",
            "ko": "정사각형",
            "nb": "Firkant",
            "nl": "Square",
            "pl": "Kwadrat",
            "pt-BR": "Quadrado",
            "pt-PT": "Square",
            "sv": "Kvadratiskt",
            "th": "สี่เหลี่ยม",
            "tr": "Kare",
            "vi": "Vuông",
            "zh-CN": "方形",
            "zh-TW": "正方形"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Propagovaná kolekce",
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Featured collection",
        "es": "Colección destacada",
        "fi": "Esittelyssä oleva kokoelma",
        "fr": "Collection en vedette",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "ko": "추천 컬렉션",
        "nb": "Utvalgt samling",
        "nl": "Uitgelichte collectie",
        "pl": "Polecana kolekcja",
        "pt-BR": "Coleção em destaque",
        "pt-PT": "Coleção em destaque",
        "sv": "Utvald produktserie",
        "th": "คอลเลกชันแนะนำ",
        "tr": "Öne çıkan koleksiyon",
        "vi": "Bộ sưu tập nổi bật",
        "zh-CN": "特色产品系列",
        "zh-TW": "精選商品系列"
      },
      "category": {
        "cs": "Kolekce",
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pl": "Kolekcja",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "tr": "Koleksiyon",
        "vi": "Bộ sưu tập",
        "zh-CN": "产品系列",
        "zh-TW": "商品系列"
      }
    }
  ],
  "templates": [
    "article",
    "blog",
    "index",
    "list-collections",
    "page",
    "product"
  ]
}
{% endschema %}
