 {%- if section.settings.newsletter_enable -%}

  <div class="password-content">

  {%- if section.settings.newsletter_form_heading != blank -%}
    <p>{{ section.settings.newsletter_form_heading }}</p>
  {%- endif -%}

  {% form 'customer', novalidate: 'novalidate' %}
    {%- assign formId = 'PasswordNewsletterForm' -%}

      <div class="password-form">
        <div class="password-field field" data-form-field>
          <label class="field__label" for="{{ formId }}-email">
            {{ section.settings.newsletter_placeholder | escape }}
          </label>
          <input
            type="email"
            value="{{ form.email }}"
            name="contact[email]"
            id="{{ formId }}-email"
            class="field__input"
            {% if form.errors %}
              aria-invalid="true"
              aria-describedby="{{ formId }}-email-error"
            {% endif %}
          >
          {%- if form.posted_successfully? -%}
            <span class="password-status form__message" role="status" data-field-status>{% render 'icon-success' %} {{ 'general.password_page.signup_form_success' | t }}</span>
          {%- endif -%}

          {%- if form.errors -%}
            <span class="password-status" id="{{ formId }}-email-error" role="status" data-field-status>
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }}</span>
              <span class="form__message">{% render 'icon-error' %}{{ 'general.password_page.signup_form_error' | t }}</span>
            </span>
          {%- endif -%}
        </div>

        <button type="submit" name="commit" class="password-button button button--outline">
          {{ section.settings.newsletter_button_text | escape }}
        </button>
      </div>


    {% endform %}

  </div>
{%- endif -%}

{% schema %}
{
  "name": {
    "cs": "Obsah",
    "da": "Indhold",
    "de": "Inhalt",
    "en": "Content",
    "es": "Contenido",
    "fi": "Sisältö",
    "fr": "Contenu",
    "it": "Contenuto",
    "ja": "コンテンツ",
    "ko": "콘텐츠",
    "nb": "Innhold",
    "nl": "Content",
    "pl": "Treść",
    "pt-BR": "Conteúdo",
    "pt-PT": "Conteúdo",
    "sv": "Innehåll",
    "th": "เนื้อหา",
    "tr": "İçerik",
    "vi": "Nội dung",
    "zh-CN": "内容",
    "zh-TW": "內容"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": {
        "cs": "Zobrazit přihlášení k odběru novinek",
        "da": "Vis tilmelding til nyhedsbrev",
        "de": "Newsletter-Anmeldung anzeigen",
        "en": "Show newsletter signup",
        "es": "Mostrar suscripción al boletín",
        "fi": "Näytä uutiskirjeen tilaus",
        "fr": "Afficher l'inscription à la newsletter",
        "it": "Mostra iscrizione alla newsletter",
        "ja": "ニュースレターの登録を表示する",
        "ko": "뉴스레터 신청 표시",
        "nb": "Vis registrering for nyhetsbrev",
        "nl": "Aanmelden voor nieuwsbrief weergeven",
        "pl": "Pokaż rejestrację do newslettera",
        "pt-BR": "Exibir assinatura da newsletter",
        "pt-PT": "Mostrar registo na newsletter",
        "sv": "Visa nyhetsbrevsregistrering",
        "th": "แสดงการสมัครรับจดหมายข่าว",
        "tr": "Bülten aboneliğini göster",
        "vi": "Hiển thị đăng ký nhận bản tin",
        "zh-CN": "显示新闻通讯注册",
        "zh-TW": "顯示訂閱電子報"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": {
        "cs": "Nadpis formuláře novinek",
        "da": "Overskrift til nyhedsbrevsformular",
        "de": "Newsletter-Formular Titel",
        "en": "Newsletter form heading",
        "es": "Título del formulario de boletín",
        "fi": "Uutiskirjelomakkeen otsikko",
        "fr": "Titre du formulaire d'inscription à la newsletter",
        "it": "Titolo del modulo della newsletter",
        "ja": "ニュースレターフォームの見出し",
        "ko": "뉴스레터 양식 제목",
        "nb": "Skjemaoverskrift for nyhetsbrev",
        "nl": "Kop van nieuwsbriefformulier",
        "pl": "Nagłówek formularza newslettera",
        "pt-BR": "Título do formulário da newsletter",
        "pt-PT": "Título do formulário da newsletter",
        "sv": "Rubrik på nyhetsbrevsformulär",
        "th": "ส่วนหัวของแบบฟอร์มจดหมายข่าว",
        "tr": "Bülten form başlığı",
        "vi": "Tiêu đề biểu mẫu bản tin",
        "zh-CN": "标题中的新闻通讯",
        "zh-TW": "電子報標題"
      },
      "default": {
        "cs": "Přihlaste se k odběru, abyste se jako první dozvěděli o našich nabídkách a nejnovějším zboží.",
        "da": "Abonner, og vær den første til at høre om vores tilbud og nyeste varer.",
        "de": "Abonniere, um dich als Erster über unsere Angebote und neu eingetroffenen Produkte zu informieren.",
        "en": "Subscribe to be the first to hear about our offers and latest arrivals.",
        "es": "Suscríbete para ser el primero en enterarte de nuestras ofertas y últimas novedades.",
        "fi": "Tilaa uutiskirje saadaksesi ensimmäisenä tietoa tarjouksistamme ja uutuuksistamme.",
        "fr": "S'inscrire pour connaître nos offres et nouveautés en premier.",
        "it": "Iscriviti per essere tra i primi a sapere delle nostre offerte e degli ultimi arrivi.",
        "ja": "登録し、Shopifyからのオファーや最新情報をいち早く受け取りましょう。",
        "ko": "가입하면 Shopify의 혜택과 최신 소식을 가장 먼저 알 수 있습니다.",
        "nb": "Abonner for å være den første til å høre om tilbud og produktnyheter",
        "nl": "Schrijf je in om als eerste op de hoogte te zijn van onze aanbiedingen en nieuwste producten.",
        "pl": "Zapisz się, aby być pierwszym, który usłyszy o naszych ofertach i najnowszych produktach.",
        "pt-BR": "Assine e seja o primeiro a saber de nossas ofertas e das novidades.",
        "pt-PT": "Subscreva e seja o primeiro a conhecer as nossas ofertas e as novidades mais recentes.",
        "sv": "Registrera dig för att bli först med att få reda på erbjudanden och nyss inkommet.",
        "th": "สมัครใช้งานเพื่อรับข้อเสนอและสินค้าล่าสุดของเราก่อนใคร",
        "tr": "Tekliflerimiz ve en son gelenler hakkında bilgileri ilk önce siz duymak istiyorsanız abone olun.",
        "vi": "Đăng ký để trở thành người đầu tiên nhận được tin về ưu đãi của chúng tôi và chuyến hàng mới đến gần nhất.",
        "zh-CN": "进行订阅，成为第一批知道我们的优惠和最新到货的客户。",
        "zh-TW": "請訂閱以搶先知道我們的優惠方案以及最新到貨商品。"
      }
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": {
        "cs": "Zástupný text newsletteru s novinkami",
        "da": "Pladsholdertekst til nyhedsbrev",
        "de": "Platzhaltertext für Newsletter",
        "en": "Newsletter placeholder text",
        "es": "Texto de marcador de posición del boletín",
        "fi": "Uutiskirjeen paikkamerkkiteksti",
        "fr": "Texte de l'espace réservé de la newsletter",
        "it": "Testo del segnaposto della newsletter",
        "ja": "ニュースレターのプレースホルダーテキスト",
        "ko": "뉴스레터 플레이스 홀더 텍스트",
        "nb": "Plassholdertekst for nyhetsbrev",
        "nl": "Plaatsaanduidingstekst nieuwsbrief",
        "pl": "Tekst zastępczy newslettera",
        "pt-BR": "Texto marcador de posição da newsletter",
        "pt-PT": "Texto do marcador de posição da newsletter",
        "sv": "Nyhetsbrevets platshållartext",
        "th": "ข้อความตัวยึดตำแหน่งจดหมายข่าว",
        "tr": "Bülten yer tutucu metni",
        "vi": "Văn bản phần giữ chỗ bản tin",
        "zh-CN": "新闻通讯占位符文本",
        "zh-TW": "電子報佔位符文字"
      },
      "default": {
        "cs": "Váš e-mail",
        "da": "Din e-mail",
        "de": "Deine E-Mail-Adresse",
        "en": "Your email",
        "es": "Tu correo electrónico",
        "fi": "Sähköpostiosoitteesi",
        "fr": "Votre e-mail",
        "it": "Indirizzo email",
        "ja": "あなたのメール",
        "ko": "이메일",
        "nb": "Din e-postadresse",
        "nl": "Je e-mailadres",
        "pl": "Twój e-mail",
        "pt-BR": "E-mail",
        "pt-PT": "O seu e-mail",
        "sv": "Din e-postadress",
        "th": "อีเมลของคุณ",
        "tr": "E-postanız",
        "vi": "Email của bạn",
        "zh-CN": "您的邮箱",
        "zh-TW": "您的電子郵件"
      }
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": {
        "cs": "Text tlačítka novinek",
        "da": "Knaptekst til nyhedsbrev",
        "de": "Text für Newsletter-Schaltfläche",
        "en": "Newsletter button text",
        "es": "Texto del botón del boletín",
        "fi": "Uutiskirjeen painiketeksti",
        "fr": "Texte du bouton de la newsletter",
        "it": "Testo del pulsante newsletter",
        "ja": "ニュースレターのボタンテキスト",
        "ko": "뉴스레터 버튼 텍스트",
        "nb": "Knappetekst for nyhetsbrev",
        "nl": "Tekst van de nieuwsbriefknop",
        "pl": "Tekst przycisku newslettera",
        "pt-BR": "Texto do botão da newsletter",
        "pt-PT": "Texto do botão da newsletter",
        "sv": "Nyhetsbrevets knapptext",
        "th": "ข้อความปุ่มจดหมายข่าว",
        "tr": "Bülten düğme metni",
        "vi": "Văn bản nút bản tin",
        "zh-CN": "新闻通讯按钮文本",
        "zh-TW": "電子報按鈕文字"
      },
      "default": {
        "cs": "Přihlásit k odběru",
        "da": "Abonner",
        "de": "Abonnieren",
        "en": "Subscribe",
        "es": "Suscríbete",
        "fi": "Tilaa",
        "fr": "S'inscrire",
        "it": "Iscriviti",
        "ja": "登録する",
        "ko": "가입하기",
        "nb": "Abonner",
        "nl": "Abonneren",
        "pl": "Subskrybuj",
        "pt-BR": "Assinar",
        "pt-PT": "Subscrever",
        "sv": "Prenumerera",
        "th": "สมัครรับข้อมูล",
        "tr": "Abone ol",
        "vi": "Đăng ký",
        "zh-CN": "订阅",
        "zh-TW": "訂閱"
      }
    }
  ]
}
{% endschema %}
